    <nav class="navbar">
        <div class="box box1">
            <a href="/"><img class="logo" src="/img/Logo original.png" alt="logo" /></a>
        </div>
        <div class="box box2">
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li>Quienes Somos</li>
                <li><a href="/listaProductos">Productos</a></li>
                <li>Contacto</li>
            </ul>
        </div>
        <div class="box box3">
            <div class="logInSingUp">
                <a href="/login"> Log In </a>
                <a href="/register"> Sing Up </a>
            </div>
            <input type="search" placeholder="Buscar..." />
            <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
            <a href="/carrito"><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
        <div class="box4">
            <i class="fas fa-bars"></i>
        </div>
    </nav>