<footer>
    <p>Seguinos en nuestras redes</p>
    <div>
        <a href="https://www.facebook.com/profile.php?id=61550587694773" target="_blank"><img src="/img/logo-facebook.png" alt="" /></a>
        <a href="https://www.instagram.com/rodbar.delivery/" target="_blank"><img src="/img/logo-instagram.png" alt="" /></a>
        <a href="https://wa.me/+543856195005" target="_blank"><img src="/img/logo-whatsapp.png" alt="" /></a>
    </div>
    <p class="copyright">Todos los derechos reservados. RodBar© 2023</p>
</footer>