<footer>
    <p>Seguinos en nuestras redes</p>
    <div>
        <img src="/img/logo-facebook.png" alt="" />
        <img src="/img/logo-instagram.png" alt="" />
        <img src="/img/logo-whatsapp.png" alt="" />
    </div>
    <p class="copyright">Todos los derechos reservados. RodBar© 2023</p>
</footer>