@font-face {
  font-family: "BROTHER";
  src: url("/Font/BROTHER-Bold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "BROTHER", sans-serif;
  /* Para fijar el footer al final de todo */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  /* Aqui termina */
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
}

.logo {
  width: 100%;
  height: auto;
}

.box {
  display: flex;
  font-size: 1.2rem;
}

.box1 {
  width: 10%;
}

.menu {
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.menu li {
  margin-right: 1rem;
  margin-left: 1rem;
}

.box3 {
  display: flex;
  justify-content: space-between;
}
.logInSingUp {
  color: rgb(58, 3, 87);
}

.logInSingUp a {
  margin-right: 1rem;
}

/* ---------------------------------------------- */

footer {
  /* Para fijar el footer al final de todo */
  margin-top: auto;
  /* Aqui termina */
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 1rem;
  background-color: rgb(250, 173, 41);
  font-size: 1.2rem;
}
.copyright {
  font-family: "Inter", sans-serif;
}

footer div {
  display: flex;
  width: 30%;
  justify-content: space-around;
}

footer div img {
  width: 10%;
}
a {
  text-decoration: none;
  color: black;
}

@media (max-width: 480px) {
  .box1 {
    width: 40%;
  }
  .box3 {
    justify-content: center;
  }
  footer {
    flex-direction: column;
    text-align: center;
  }
  footer div img {
    width: 10%;
  }
  footer div {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }
  .copyright {
    font-size: 0.5rem;
  }
}