*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body{
    display: flex;
    flex-direction: column;
}

main{
    background-color: rgb(58, 3, 87);
    height: 80vh;
}

form{
    color: white;
    display: flex;
    flex-direction: column;
    width: 50%;
    margin: auto;
    font-size: 2rem;
    margin-top: 1%
}
form input{
    height: 1.5rem;
    font-family: "Brother", sans-serif;
    font-size: 1.2rem;
}

.imagen{
    width: 50%;
}

footer{
    margin-top: 0;
}
.box4{
    display: none;
}
.botones{
    display: flex;
    justify-content: center;
}
.boton-crear{
    width: 20%;
    font-family: "Brother", sans-serif;
    margin: auto;
}
div .boton-crear input{
    width: 100%;
    background-color: rgb(250, 173, 41);
}