@font-face {
    font-family: 'BROTHER';
    src: url("/Font/BROTHER-Bold.ttf") format('truetype');}
* { 
    box-sizing: border-box;
}  
h1{
    color: rgb(250, 173, 41);
    font-family: BROTHER;
    font-size: 70px;
}
.contenedor-titulo{
    display: flex;
    justify-content: center;
    align-items: center;
}

.contenedor1{
background-color: rgb(58, 3, 97);
color: white;
width: 90%;
margin: auto;
height: 40px;
}
.contenedor2{
    background-color: rgb(58, 3, 97);
    color: white;
    width: 90%;
    margin: auto;
    height: 150px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    border: solid white 2px;
    position: relative;
    }
    .contenedor3{
        background-color: rgb(58, 3, 97);
        color: white;
        width: 90%;
        margin: auto;
        height: 150px;
        display: flex;
        justify-content: space-around;
        align-items: center;
        border: solid white 2px;
        position: relative;
        }
.contenedor4{
    width: 90%;
    display: flex;
    justify-content: flex-end;
    margin: auto;
    text-align: center;
}
ul.lista{
list-style-type: none;
display: flex;
justify-content: space-around;
align-items: center;
padding-top: 1%;
}
img{
    width: 15%;
    position:absolute;
    left: 80px;
    bottom: 18px;
}
.contenedor-total{
    width: 30%;
    background-color: rgb(197, 144, 247);
    display: flex;
    justify-content: space-around;
    font-style: italic;
    font-size: 24px;
}

.contenedor-lista{
    width: 75%;
}
ul.lista2{
    list-style-type: none;
    display: flex;
    justify-content: space-around;
    position: relative;
}
.PRODUCTO{
    position: absolute;
    left: 100px;
}
.PRECIO{
    position: absolute;
    left: 350px;
}
.CANTIDAD{
    position: absolute;
    left: 560px;
}
.ELIMINAR{
    position: absolute;
    left: 750px;
}
input.numero{
    width: 50%;
    text-align: center;
}
input.boton-eliminar{
    background-color: rgb(250, 173, 41);
    width: 100px;
    border: none ;
    color: white;
    border-radius: 4px;
}
.boton1{
    display: flex;
    justify-content: center;
    align-items: center;
}
.boton2{
    display: flex;
    justify-content: center;
    align-items: center;
}
input.boton-finalizarcomp{
    background-color: rgb(250, 173, 41);
    padding: 15px 32px;
    width: 300px;
    border: 2px solid rgb(255, 145, 0);
    color: white;
    border-radius: 10px;
    margin: 4px 2px;
    font-size: 20px;
    font-weight: bold;
}
.boton-finalizarcomp:hover{
    box-shadow: 10px -10px 25px 0 rgba(253, 198, 16, 0.5), -10px 10px 25px 0 rgba(61, 10, 82, 0.794);
}
input.boton-otroprod{
    background-color: white;
    padding: 13px 23px;
    width: 270px;
    border: 2px solid rgb(250, 173, 41);
    color: rgb(0, 0, 0);
    border-radius: 10px;
    margin: 4px 2px;
    font-size: 16px;
    font-weight: lighter;
}
.boton-otroprod:hover{
    box-shadow: 10px -10px 25px 0 rgba(253, 198, 16, 0.5), -10px 10px 25px 0 rgba(61, 10, 82, 0.794);
}
@media (max-width: 768px) {
    h1{
        font-size: 40px;
    }
    .contenedor2{
        height: 100px;
        }
        .contenedor3{
            height: 100px;
            }
    ul.lista{
padding-left: 1%;
        padding-top: 2%;
        padding-right: 33%;
        font-size: 15px;
        }
    img{
        width: 10%;
        position:absolute;
        left:5px;
        bottom: 30px;
    }
    .PRODUCTO{
        position: absolute;
        left: 1px;
        width: 30px;
    }
    .PRECIO{
        position: absolute;
        left: 100px;
    }
    .CANTIDAD{
        position: absolute;
        left: 150px;
    }
    .ELIMINAR{
        position: absolute;
        left: 250px;
    }
}
@media (max-width: 480px) {

    .contenedor-titulo{
        display: flex;
        justify-content: center;
        
    }
    h1{
        width: 100%;
        font-size: 24px;
        margin: auto;
        text-align: center;
    }
    ul.lista{
        flex-direction: column;
    }
    .lista2{
        flex-direction: column;
    }
    .contenedor2{
        flex-direction: column;
        }
        .contenedor-lista{
            flex-direction: column;
            }
            .contenedor3{
                flex-direction: column;
                }
}