<%- include("../partials/head1.ejs",{pageTitle: "RodBar Delivery"})%>
<link rel="stylesheet" href="css/index.css">
<%- include("../partials/head2.ejs") %>
  <body>
    <header>
    <%- include("../partials/barraNav.ejs") %>
    <section class="carrusel">
      <img class="imagen1" src="/img/IMG_8454.jpg" alt="foto de lomito" />
      <img src="/img/IMG_8392.jpg" alt="foto de hamburguesa" />
  </section>
    </header>
    <main>
      <section>
        <div class="titulo">
          <h1>¿QUÉ TIENES GANAS DE COMER HOY?</h1>
          <div class="contenedor1">
            <div class="item">
              <img src="/img/IMG_8393.jpg" alt="foto de lomito" />
              <a href="/listaProductos"><p>LOMITOS</p></a>
            </div>
            <div class="item">
              <img src="/img/IMG_8377.jpg" alt="foto de hamburguesa" />
              <p>HAMBURGUESAS</p>
            </div>
            <div class="item">
              <img src="/img/IMG_8552.jpg" alt="foto de milanesa" />
              <p>SANDWICHES DE<br />MILANESA</p>
            </div>
            <div class="item">
              <img src="/img/pizzaEjemplo.png" alt="foto de pizza" />
              <p>PIZZAS</p>
            </div>
            <div class="item">
              <img src="/img/alplatoEjemplo.png" alt="foto de napolitana" />
              <p>
                COMIDA <br />
                AL PLATO
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="contenedor2">
        <div class="box1">
          <p>
            Somos un grupo de amigos que decidimos emprender en algo que
            teníamos en común, el amor por los lomitos, por lo que comenzamos a
            vender desde una de nuestras casas hasta que luego de un tiempo de
            buenas ventas y clientes que nos acompañaron siempre pudimos
            ampliarnos, y así además, ampliar nuestro menú. Nuestro principal
            objetivo es continuar dando sabor a la vida de nuestros clientes a
            través de nuestras comidas.
          </p>
        </div>
        <div class="box2">
          <h1>¿QUIENES SOMOS?</h1>
        </div>
      </section>
      <section class="contenedor3">
        <div class="tituloContacto">
          <h1>CONTACTO</h1>
        </div>
        <div class="formularioContacto">
          <input type="text" placeholder="Nombre y Apellido" />
          <input type="text" placeholder="Email" />
          <input type="text" placeholder="Celular" />
          <input class="consulta" type="" placeholder="Consulta" />
          <div class="boton">
            <button>Enviar</button>
          </div>
        </div>
      </section>
    </main>
<%- include("../partials/footer.ejs") %>
  </body>
</html>
