<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/carrito.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Roboto&display=swap" rel="stylesheet">
    <title>Document</title>
</head>

<body>
    <header>
        <nav class="navbar">
            <div class="box box1">
                <img class="logo" src="/img/Logo original.png" alt="logo" />
            </div>
            <div class="box">
                <ul class="menu">
                    <li>Inicio</li>
                    <li>Quienes Somos</li>
                    <li>Productos</li>
                    <li>Contacto</li>
                </ul>
            </div>
            <div class="box box3">
                <div class="logInSingUp">
                    <a href=""> Log In </a>
                    <a href=""> Sing Up </a>
                </div>
                <input type="search" placeholder="Buscar..." />
                <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
                <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
            </div>
        </nav>
    </header>
    <main>
        <div class="titulo">
            <h2>CARRITO DE COMPRA</h2>
        </div>
        <div class="barra-titulos">
            <ul>
                <li>PRODUCTO</li>
                <li>NOMBRE</li>
                <li>PRECIO</li>
                <li>CANTIDAD</li>
                <li>TOTAL</li>
            </ul>
        </div>
        <div class="barras-productos">
            <div class="barra-1">
                <ul>
                    <li><img src="" alt=""></li>
                    <li>Comida 1</li>
                    <li> Precio 1</li>
                    <li><input class="cantidad" type="number" name="numero" value="0"></li>
                    <li><input class="eliminar" type="reset" name="borrar" value="Eliminar"></li>
                </ul>
            </div>
            <div class="barra-1">
                <ul>
                    <li><img src="" alt=""></li>
                    <li>Comida 2</li>
                    <li> Precio 2</li>
                    <li><input class="cantidad" type="number" name="numero" value="0"></li>
                    <li><input class="eliminar" type="reset" name="borrar" value="Eliminar"></li>
                </ul>
            </div>
        </div>
        <div class="total">
            <div class="total1">
                <p>TOTAL: $$$$</p>
            </div>
        </div>
        <br>
        <div class="agregar">
            <input class="agregar1" type="button" name="agregarProducto" value="AGREGAR OTRO PRODUCTO">
        </div>
        <div class="finalizar">
            <input class="finalizar1" type="button" name="agregarProducto" value="FINALIZAR COMPRA">
        </div>
    </main>
    <footer>
    </footer>
</body>

</html>