<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/detail.css">
    <title>Detalle del Producto</title>
</head>
<body>
    <header>
        <nav></nav>
    </header>
    <main>
        <section class="imagenYprecio">
            <img src="/img/lomito ryjq.jpg" alt="lomito de rucula y jamon crudo" class="fotolomo">
            <div class="nombreYprecio">
                <h1>NOMBRE DEL PRODUCTO</h1>
                <h2>PRECIO $2.700</h2>
                <div class="botones">
                    <button id="botonindividual">Comprar</button>
                    <button id="botonindividual">Agregar al Carrito</button>
                    <div id="botonindividual">
                    <form action="carrito.html" method="POST">
                        <label>CANTIDAD</label>
                        <select name="cantidad" class="botonenviar">
                            <option value="1">1</option>
                            <option value="2">2</option>
                            <option value="3">3</option>
                            <option value="4">4</option>
                            <option value="5">5</option>
                            <option value="6">6</option>
                            <option value="7">7</option>
                            <option value="8">8</option>
                            <option value="9">9</option>
                            <option value="10">10</option>
                        </select>
                    <input type="submit" value="Enviar" class="botonenviar">
                    </form>
                    </div>
                </div>
            </div>
        </section>
        <section class="descripcion">
            <h1 class="titulodescripcion">DESCRIPCIÓN DEL PRODUCTO</h1>
            <div class="ingredientes">
                <div class="ingrecaja1">
                    <h2>INGREDIENTE 1</h2>
                    <H3>PAN DE PAPA</H3>
                    <h2>INGREDIENTE 2</h2>
                    <H3>CARNE DE LOMO PREMIUM</H3>
                    <h2>INGREDIENTE 3</h2>
                    <H3>RUCULA FRESCA</H3>
                    <h2>INGREDIENTE 4</h2>
                    <H3>MAYONESA CASERA</H3>
                </div>
                <div class="ingrecaja1">
                    <h2>INGREDIENTE 5</h2>
                    <H3>JAMON CRUDO</H3>
                    <h2>INGREDIENTE 6</h2>
                    <H3>TOMATE</H3>
                    <h2>INGREDIENTE 7</h2>
                    <H3>LECHUGA</H3>
                    <h2>INGREDIENTE 8</h2>
                    <H3>QUESO TYBO</H3>
                </div>
            </div>
        </section>
    </main>
    <footer>
        <h2>PRODUCTOS RELACIONADOS</h2>
        <div class="cajasrelacionadas">
            <div class="cajarelacionindi">
            <img src="/img/LOMO2.jpg" alt="Lomito al Criollo">
            </div>
            <div class="cajarelacionindi">
            <img src="/img/LOMO3.jpg" alt="Lomito al BBQ">
            </div>
        </div>
    </footer>
</body>
</html>