<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RodBar Delivery</title>
    <link rel="stylesheet" href="index.css" type="text/css">
  </head>
  <body>
    <header> 
      <nav class="navbar">
        <img class="logo" src="/img/Logo original.png" alt="logo"> 
        <ul>
          <li> Inicio </li>
          <li> Quienes Somos </li>
          <li> Productos </li>
          <li> Contacto </li>
        </ul>
          <a href=""> Log In </a>
          <a href=""> Sing Up </a>
          <input type="search" placeholder="Buscar...">
          <button> Buscar </button>
          <button> Carrito </button>
      </nav>
      <section> </section>
    </header>
    <main>
      <section></section>
      <section></section>
    </main>
    <footer>
      <section></section>
      <section></section>
    </footer>
  </body>
</html>
