<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RodBar Delivery</title>
    <link rel="stylesheet" href="/css/master.css" />
    <link rel="stylesheet" href="/css/index.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css"
      integrity="sha512-z3gLpd7yknf1YoNbCzqRKc4qyor8gaKU1qmn+CShxbuBusANI9QpRohGBreCFkKxLhei6S9CQXFEbbKuqLg0DA=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>
  <body>
    <header>
      <nav class="navbar">
        <div class="box box1">
          <img class="logo" src="/img/Logo original.png" alt="logo" />
        </div>
        <div class="box">
          <ul class="menu">
            <li>Inicio</li>
            <li>Quienes Somos</li>
            <li>Productos</li>
            <li>Contacto</li>
          </ul>
        </div>
        <div class="box box3">
          <div class="logInSingUp">
            <a href=""> Log In </a>
            <a href=""> Sing Up </a>
          </div>
          <input type="search" placeholder="Buscar..." />
          <a href=""><i class="fa-solid fa-magnifying-glass"></i></a>
          <a href=""><i class="fa-solid fa-cart-shopping"></i></a>
        </div>
      </nav>
      <!-- <section class="carrusel">
        <img src="/img/IMG_8454.jpg" alt="foto de lomito" />
        <img src="/img/IMG_8392.jpg" alt="foto de hamburguesa" />
      </section> -->
    </header>
    <!-- <main>
      <section>
        <div class="titulo">
          <h1>¿QUÉ TIENES GANAS DE COMER HOY?</h1>
          <div class="contenedor1">
            <div class="item">
              <img src="/img/IMG_8393.jpg" alt="foto de lomito" />
              <p>LOMITOS</p>
            </div>
            <div class="item">
              <img src="/img/IMG_8377.jpg" alt="foto de hamburguesa" />
              <p>HAMBURGESAS</p>
            </div>
            <div class="item">
              <img src="/img/IMG_8552.jpg" alt="foto de milanesa" />
              <p>SANDWICHES DE<br />MILANESA</p>
            </div>
            <div class="item">
              <img src="/img/pizzaEjemplo.png" alt="foto de pizza" />
              <p>PIZZAS</p>
            </div>
            <div class="item">
              <img src="/img/alplatoEjemplo.png" alt="foto de napolitana" />
              <p>
                COMIDA <br />
                AL PLATO
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="contenedor2">
        <div class="box1">
          <p>
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quod optio
            inventore aperiam nam, unde, laboriosam accusamus quaerat
            consectetur est alias praesentium doloremque quo numquam voluptate
            sint. Repellendus delectus necessitatibus facilis. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Molestiae ratione possimus
            perspiciatis tempore provident et magnam facilis voluptatem facere,
            amet accusamus, porro alias modi optio dolore! Eum recusandae minus
            quos. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Beatae minus nostrum laboriosam laborum, rem placeat error,
            voluptate doloremque cum aperiam blanditiis ratione ab laudantium
            eveniet similique asperiores? Aliquid, tempora aut. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Magni autem amet,
            assumenda aspernatur, harum possimus at blanditiis esse aut
            distinctio dignissimos modi, quos reprehenderit quae eveniet quam
            provident explicabo ratione. Lorem ipsum dolor sit amet consectetur,
            adipisicing elit. Laudantium impedit incidunt in perspiciatis
            voluptatibus maiores quaerat exercitationem iusto quae sed eum
            autem, magni ab molestias? Hic, quam tenetur. Soluta, id?
          </p>
        </div>
        <div class="box2">
          <h1>¿QUIÉNES SOMOS?</h1>
        </div>
      </section>
      <section class="contenedor3">
        <div class="tituloContacto">
          <h1>CONTACTO</h1>
        </div>
        <div class="formularioContacto">
          <input type="text" placeholder="Nombre y Apellido" />
          <input type="text" placeholder="Email" />
          <input type="text" placeholder="Celular" />
          <input class="consulta" type="" placeholder="Consulta" />
          <div class="boton">
            <button>Enviar</button>
          </div>
        </div>
      </section>
    </main> -->
    <footer>
      <p>Seguinos en nuestras redes</p>
      <img src="/img/logo-facebook.png" alt="" />
      <img src="/img/logo-instagram.png" alt="" />
      <img src="/img/logo-whatsapp.png" alt="" />
      <p>Todos los derechos reservados. RodBar© 2023</p>
    </footer>
  </body>
</html>
