<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Vista de Carrito</title>
    <link rel="stylesheet" href="/css/productCart.css">
</head>
<body>
<header></header>
<main>
    <div class="contenedor-titulo">
        <h1>CARRITO DE COMPRA</h1>
    </div>
    <div>
        <div class="contenedor1">
            <ul class="lista">
                <li>PRODUCTO </li>
                <li>NOMBRE</li>
                <li>PRECIO</li>
                <li>CANTIDAD</li>
                <li></li>
            </ul>
        </div>
        <div>
            <div class="contenedor2">
                <div class="contenedor-imagen"><img src="/img/hamburguesa.jpg" alt=""></div>
                <div class="contenedor-lista">
                    <ul class="lista2">
                        <li class="PRODUCTO">Hamburguesa</li>
                        <li class="PRECIO">$2000</li>
                        <li class="CANTIDAD"><input class="numero" type="number" placeholder="1"></li>
                        <li class="ELIMINAR"><input class="boton-eliminar" type="button" value="Eliminar"></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="contenedor3">
            <div class="contenedor-imagen"><img src="/img/lomito.jpg" alt=""></div>
            <div class="contenedor-lista">
                <ul class="lista2">
                    <li class="PRODUCTO">Lomito completo</li>
                    <li class="PRECIO">$3000</li>
                    <li class="CANTIDAD"><input class="numero" type="number" placeholder="1"></li>
                    <li class="ELIMINAR"><input class="boton-eliminar" type="button" value="Eliminar"></li>
                </ul>
            </div>
        </div>
        
        <div class="contenedor4">
            <div class="contenedor-total">
                <p><b>TOTAL:</b></p>
                <p><b> $5000</b></p>
            </div>
        </div>
        <br>
        <br>
        <div class="boton1">
            <input class="boton-otroprod" type="button" value="AGREGAR OTRO PRODUCTO">
        </div>
        <br>
        <div class="boton2">
            <input class="boton-finalizarcomp" type="button" value="FINALIZAR COMPRA">
        </div>
        </div>
</div>
</main>
<footer></footer>
</body>
</html>