<%- include("../partials/head1.ejs",{pageTitle: "Login"})%>
<link rel="stylesheet" href="css/login.css">
<%- include("../partials/head2.ejs") %>

<body>
    <header>
        <%- include("../partials/barraNav.ejs") %>
    </header>
    <main>
        <div class="contenedor1">
            <div class="contenedor-izquierda">
                <div class="cuenta">
                    <h2>INICIAR SESIÓN</h2>
                </div>
                <div class="botones">
                    <div class="boton-face">
                        <a href="www.facebook.com" class="botonface"><img src="/img/logo-facebook.png"
                                alt="boton-face"></a>
                    </div>
                    <div class="boton-google">
                        <a href="www.gmail.com" class="botongoogle"><img src="/img/logo-google.png"
                                alt="boton-google"></a>
                    </div>

                </div>
                <div class="texto">
                    <p> O usá tu mail </p>
                </div>
                <form class="formulario">
                    <div class="barra"><input class="barra2" type="text" name="usuario" placeholder="Usuario"></div>
                    <div class="barra"><input class="barra3" type="password" name="contraseña" placeholder="Contraseña">
                    </div>
                    <div class="olvidar"><a class="forget-pass" href="">¿Olvidaste tu contraseña</a></div>
                    <div class="registro"><input class="boton-registro" type="submit" value="INICIAR SESIÓN"></div>
                </form>
            </div>
            <div class="contenedor-derecha">
                <div class="bienvenido">
                    <h2>¡BIENVENID@!</h2>
                </div>
                <div class="pregunta">
                    <h2>¿NO TENÉS CUENTA?</h2>
                </div>
                <div class="boton-sesion">
                    <div class="boton-login">
                        <a href="/register"><input class="boton" type="button" value="REGISTRARME"></a>
                    </div>
                </div>
            </div>

        </div>
    </main>
    <%- include("../partials/footer.ejs") %>
</body>

</html>